<h1 id="about">Quality Assurance Consulting</h1>
<ul class="wow fadeIn bullets">
  <li class="bullet">
    <div class="bullet-icon bullet-icon-1">
      <i class="fa fa-trophy"></i>
    </div>
    <div class="bullet-content">
      <h2>Why?</h2>
      <p>Because your customers deserve the best experience that you can provide. The only surefire way of knowing you are providing the best is to test your platform relentlessly. That's what we help you do.</p>
      </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-2">
      <i class="fa fa-male"></i>
    </div>
    <div class="bullet-content">
      <h2>Who?</h2>
      <p>Dave Sudia brings together the worlds of web development and behavior. He has built comprehensive testing platforms for independent projects up to companies on Fortune's <a href="http://fortune.com/unicorns">Unicorn List</a>. Prior to joining the tech world, he was a behavior specialist in schools. </p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-3">
      <i class="fa fa-cog"></i>
    </div>
    <div class="bullet-content">
      <h2>How?</h2>
      <p>By getting ahead of things that can go wrong by thinking about how things go right. We show you how to apply Behavior- and Test-Driven Development techniques to your dev process. We help you build a world-class automated testing platform so your teams spend more time building and less time debugging.</p>
    </div>
  </li>
</ul>
